[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=user
WorkingDirectory=/home/user/sites/SITENAME/source
ExecStart=/home/user/sites/SITENAME/virtualenv/bin/gunicorn \
	--bind unix:/tmp/SITENAME.socket \
	superlists.wsgi:application

[Install]
WantedBy=multi-user.target
